*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Color theme */
$primary-color: #21252B;
$secondary-color: #F7F6F6;
$text-color: #F7F6F6;
$text-color-dark: #21252B;

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
