*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-size-adjust: 100%;
}

/* Color theme */
$primary-color: #21252B;
$secondary-color: #F7F6F6;
$text-color: #F7F6F6;
$text-color-dark: #21252B;

/* Font sizes */
$h1-size: 6vh;
$h1-size-px: 60px;
$h1-size-px-md: 40px;
$h1-size-px-sm: 30px;
$line-size: 0.5vh;
$icon-size: 4vh;
$h2-size-px: 30px;
$text-size: 20px;
$menu-links-size: 4vh;

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
