/* Styles for different screen
sizes */

// Widescreens (min-width: 1171px)
@include mediaXl {

}

// Desktops & Laptops (min-width: 769px) and (max-width: 1170px)
@include mediaLg {

section {
  &#data-analytics, &#web-programming {
    h1 {
    margin-top: 7vh;
    }
  }
}

  .project-container-ml {
    grid-template-columns: repeat(4,149px);
    grid-template-rows: 60px 200px 200px 200px;

    h1 {
      grid-column: 1 / 5;
      grid-row: 1;
    }
  }

    .proj-item {

      &-ml4 {
        grid-column: 1 / 3;
        grid-row: 4;
      }

      &-ml7 {
        grid-column: 3 / 5;
        grid-row: 4;
      }

      &-ml8 {
        grid-column: 4;
      }
    }

}

// Tablets & Small Laptops (max-width: 768px)
@include mediaMd {

  section {
    h1 {
      font-size: $h1-size-px-md;
    }

    &#data-analytics, &#web-programming {
      h1 {
      margin-top: 7vh;
      }
    }
  }

  .project-container-ml {
    grid-template-columns: repeat(3,149px);
    grid-template-rows: 40px 200px 200px 200px 200px;

    h1 {
      grid-column: 1 / 4;
      grid-row: 1;
    }

  }

    .proj-item {

      &-ml3 {
        grid-column: 3;
        grid-row: 4;
      }

      &-ml7 {
        grid-column: 1 / 3;
        grid-row: 4;
      }

      &-ml4 {
        grid-column: 1 / 3;
        grid-row: 5;
      }

      &-ml8 {
        grid-column: 3;
        grid-row: 5;
      }

    }

  .topics{
    &-nav {
    flex-direction: column;
    margin-top: 2rem;
    }


    &-item {
      margin: 0.5rem auto;
      padding: 0;
    }
  }

  .about-info {

    .about-container {
       grid-template-columns: 175px 50vw;

       .profile-heading {
         font-size: 40px;
       }

       img {
         width: 175px;
         height: 175px;
       }
    }
}
}

// Smartphones (max-width: 500px)
@include mediaSm {

  section {
    h1 {
      font-size: $h1-size-px-sm;
    }

    &#data-analytics, &#web-programming {
      h1{
      margin-top: 3vh;
      }
    }

  }

  .project-container-ml {
    grid-template-columns: repeat(2,149px);
    grid-template-rows: 30px repeat(6,200px);

    h1 {
      grid-column: 1 / 3;
      grid-row: 1;
    }

  }

    .proj-item {

      &-ml2 {
        grid-column: 2;
        grid-row: 3;
      }

      &-ml6 {
        grid-column: 1 / 3;
        grid-row: 4;
      }

      &-ml7 {
        grid-column: 1 / 3;
        grid-row: 5;
      }

      &-ml3 {
        grid-column: 1;
        grid-row: 6;
      }

      &-ml8 {
        grid-column: 2;
        grid-row: 6;
      }

      &-ml4 {
        grid-column: 1 / 3;
        grid-row: 7;
      }

  }

}


// Screen orientation
@include mediaPortrait {
  .about-info {

    .about-container {
      grid-template-columns: 80vw;
      grid-row: 1fr 3fr 3fr;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 300px;
        height: 300px;
        grid-column: 1;
        grid-row: 2;
      }

      .profile-desc {
        grid-column: 1;
        grid-row: 3;
      }

    }
}
}
